= link_to('New Article', new_article_path, class: 'btn btn-secondary btn-lg', id: 'new-article-btn')

-if @articles.empty?
  %h1#no-articles
    No Articles Created
-else
  -@articles.each do |article|
    .card.mb-3
      .article-title
        = link_to(article.title, article_path(article), class: 'article-link')
      .article-body.mb-3
        = truncate(article.body, length: 500)
      .author
        %small
          = "Created by: #{article.user.email}"