!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header{role:'banner'}
      %nav.navbar.navbar-expand-lg.navbar-light.navbar-fixed-top.navbar.navbar-dark.bg-primary{role:'navigation'}
        .container-fluid
          =link_to "blog App", root_path, class: 'navbar-brand'
          %button.navbar-toggler{'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-bs-target' => '#navbarSupportedContent', 'data-bs-toggle"'=> 'collapse', type: 'button'}
            %span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
              %li.nav-item=link_to 'Authors', '#', class: 'nav-link active', html_options: {'aria-current' => 'page'} 
    .container 
      .row
        .col-md-12
          -flash.each do |key, message|
            %div{class: "text-center alert alert-#{key == 'success' ? 'success' : 'danger'}"}
              = message
          = yield
